:root {
  --color-white: white;
  --color-grey-1: lightgrey;
  --color-grey-2: grey;

  --font-size: 18px;
}

#game-menu-screen-unauthenticated-options,
#game-menu-screen-authenticated-options {
  display: none;
}

.game-menu-screen-header {
  display: flex;
  margin: 50px;
}

#log-in-sign-up-space {
  margin-left: auto;
}

#log-in-button,
#sign-up-button,
#sign-out-button {
  border: 1px solid var(--color-grey-1);
  background-color: var(--color-grey-1);
  border-radius: 30px;

  font-size: var(--font-size);

  width: 100px;
  height: 35px;
}

#log-in-button:hover,
#sign-up-button:hover,
#sign-out-button:hover {
  background: var(--color-grey-2);
  border: 1px solid var(--color-grey-2);
}

.game-menu-screen-body {
  display: flex;
  margin: 50px;
}

#local-online-buttons-space {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-top: auto;
}

#play-online-button,
#play-local-button {
  font-size: var(--font-size);

  width: 135px;
  height: 35px;

  background: var(--color-grey-1);
  border: 1px solid var(--color-grey-1);
  border-radius: 30px;
}

#play-online-button:hover,
#play-local-button:hover {
  background: var(--color-grey-2);
  border: 1px solid var(--color-grey-2);
}

#simple-stats {
  border: 1px solid var(--color-grey-1);
  background-color: var(--color-grey-1);

  width: 300px;
  height: 100px;

  padding: 20px;
  
  font-size: var(--font-size);
  border-radius: 15px;
}