#login-button {
  position: relative;
  right: 157px;
  width: 100px;
  height: 35px;
  border: 1px solid #C4C4C4;
  background-color: #C4C4C4;
  font-family: 'Rowdies';
  font-weight: lighter;
  border-radius: 30px;
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#signup-button {
  position: relative;
  right: 50px;
  bottom: 34.5px;
  width: 100px;
  height: 35px;
  border: 1px solid #C4C4C4;
  background-color: #C4C4C4;
  font-family: 'Rowdies';
  font-weight: lighter;
  border-radius: 30px;
  font-size: 18px;
  padding-top: 0px;
  padding-bottom: 0px;
}

#signup-button:hover, #login-button:hover {
  background: grey;
  border: 1px solid grey;
  cursor: pointer;
}







#simple-stats {
  position: relative;
  left: 20px;
  bottom: 85px;
  border: 1px solid #C4C4C4;
  background-color: #C4C4C4;
  width: 275px;
  height: 120px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: 'Rowdies';
  font-size: 18px;
  font-weight: lighter;
}

#legends-arena-title {
  position: relative;
  left: 30px;
  bottom: 85px;
  font-family: 'Rowdies';
  font-weight: lighter;
}

#settings-button {
  position: relative;
  width: 40px;
  height: 40px;
  bottom: 80px;
  font-family: 'Rowdies';
  font-weight: lighter;
  font-size: 44px;
  padding: 0px;
}

#settings-button:hover {
  cursor: pointer;
}

#login-signup-space {
  padding-left: 15px;
  padding-right: 15px;
  text-align: right;
}

#local-online-buttons-space {
  position: relative;
  top: 275px;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 50px;
  text-align: right;
}

#play-online-button {
  width: 135px;
  height: 45px;
  font-family: 'Rowdies';
  font-weight: lighter;
  font-size: 19px;
  padding: 0px;
  color: white;
  background: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

#play-local-button {
  position: relative;
  top: 8px;
  width: 135px;
  height: 45px;
  font-family: 'Rowdies';
  font-weight: lighter;
  font-size: 19px;
  padding: 0px;
  color: white;
  background: lightgrey;
  border: 1px solid lightgrey;
  border-radius: 8px;
}

#play-local-button:hover, #play-online-button:hover {
  background: grey;
  border: 1px solid grey;
  cursor: pointer;
}
