:root {
  --color-white: white;
  --color-black: black;
}

.reset-password-popup {
  width: 400px;
  margin: 50px auto;
  padding: 20px;

  background: var(--color-white);
  border: 3px solid var(--color-black);
  border-radius: 15px;

  box-shadow: 1px 3px 3px 1px rgba(63, 63, 63, 0.322);
}

.reset-password-popup h1 {
  margin-top: 20px;
  text-align: center;
}

#reset-password-button{
  background: var(--color-black);
  color: var(--color-white);
  width: 400px;
  height: 35px;
  border-radius: 15px;
}

#reset-password-button:hover,
#reset-password-button:focus {
  background: hsl(0, 0%, 50%);
}

.sign-up-help-container {
  display: flex;
  justify-content: center;
}