#sign-out-button{
    background: black;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    cursor: pointer;

    position: absolute;
    bottom: 20px;
    right: 20px;
  }

  
  #sign-out-button:hover, #sign-out-button:focus{
      background: hsl(0, 0%, 50%);
  }