
#setting-icon{
    height: 35px;
    width: 35px;
    float:right;
}

#sign-out-button{
    background: black;
    color: white;
    border: none;
    font-size: 1rem;
    padding: 0.5em 0.75em;
    border-radius: 0.25em;
    cursor: pointer;
    float:right;

  }

  
  #sign-out-button:hover, #sign-out-button:focus{
      background: hsl(0, 0%, 50%);
  }