:root {
  --color-white: white;
  --color-black: black;
}

.log-in-popup {
  width: 400px;
  margin: 50px auto;
  padding: 20px;

  background: var(--color-white);
  border: 3px solid var(--color-black);
  border-radius: 15px;

  box-shadow: 1px 3px 3px 1px rgba(63, 63, 63, 0.322);
}

.log-in-popup h1 {
  margin-top: 20px;
  text-align: center;
}

#sign-in-button{
  background: var(--color-black);
  color: var(--color-white);
  width: 400px;
  height: 35px;
  border-radius: 15px;
}

#sign-in-button:hover,
#sign-in-button:focus {
  background: hsl(0, 0%, 50%);
}

.sign-in-help-container {
  display: flex;
  gap: 40px;
}

#sign-in-help-1,
#sign-in-help-2 {
  width: 200px;
  height: 35px;
  background: none;
  font-size: 14px;
}

#sign-in-help-1:hover,
#sign-in-help-2:hover {
  text-decoration: underline;
}
