:root {
  --color-white: white;
  --color-black: black;
  --color-grey-1: lightgrey;
  --color-grey-2: grey;
}

* {
  padding: 0;
  margin: 0;
}

body { 
  background: url(/app/public/assets/images/menu-screen-sketch.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.icon {
  width: 30px;
  height: 30px;
  cursor: pointer;
  float: right;
  display: block;
}

.game-font {
  font-family: 'Rowdies';
  font-weight: lighter;
}

button {
  cursor: pointer;
  border: none;
  font-size: 18px;
}

input[type=email],
input[type=password],
input[type=text] {
  font-size: 18px;
  width: 100%;
  height: 100%;
  padding: 10px;
  color: var(--color-grey-2);
  border: none;
  border-bottom: 1px solid black;
  box-sizing: border-box;
}









.sign-up-popup {
  width: 400px;
  margin: 50px auto;
  padding: 20px;

  background: var(--color-white);
  border: 3px solid var(--color-black);
  border-radius: 15px;

  box-shadow: 1px 3px 3px 1px rgba(63, 63, 63, 0.322);
}

.sign-up-popup h1 {
  margin-top: 20px;
  text-align: center;
}

#create-account-button{
  background: var(--color-black);
  color: var(--color-white);
  width: 400px;
  height: 35px;
  border-radius: 15px;
}

#create-account-button:hover,
#create-account-button:focus {
  background: hsl(0, 0%, 50%);
}

.sign-up-help-container {
  display: flex;
  justify-content: center;
}

#sign-up-help {
  width: 200px;
  height: 35px;
  background: none;
  font-size: 14px;
}

#sign-up-help:hover {
  text-decoration: underline;
}

#create-account-message {
  text-align: center;
  font-size: 18px;
}









.reset-password-popup {
  width: 400px;
  margin: 50px auto;
  padding: 20px;

  background: var(--color-white);
  border: 3px solid var(--color-black);
  border-radius: 15px;

  box-shadow: 1px 3px 3px 1px rgba(63, 63, 63, 0.322);
}

.reset-password-popup h1 {
  margin-top: 20px;
  text-align: center;
}

#reset-password-button{
  background: var(--color-black);
  color: var(--color-white);
  width: 400px;
  height: 35px;
  border-radius: 15px;
}

#reset-password-button:hover,
#reset-password-button:focus {
  background: hsl(0, 0%, 50%);
}

.sign-up-help-container {
  display: flex;
  justify-content: center;
}

#reset-password-message {
  text-align: center;
  font-size: 18px;
}









.log-in-popup {
  width: 400px;
  margin: 50px auto;
  padding: 20px;

  background: var(--color-white);
  border: 3px solid var(--color-black);
  border-radius: 15px;

  box-shadow: 1px 3px 3px 1px rgba(63, 63, 63, 0.322);
}

.log-in-popup h1 {
  margin-top: 20px;
  text-align: center;
}

#sign-in-button{
  background: var(--color-black);
  color: var(--color-white);
  width: 400px;
  height: 35px;
  border-radius: 15px;
}

#sign-in-button:hover,
#sign-in-button:focus {
  background: hsl(0, 0%, 50%);
}

.sign-in-help-container {
  display: flex;
  gap: 40px;
}

#sign-in-help-1,
#sign-in-help-2 {
  width: 200px;
  height: 35px;
  background: none;
  font-size: 14px;
}

#sign-in-help-1:hover,
#sign-in-help-2:hover {
  text-decoration: underline;
}

#sign-in-message {
  text-align: center;
  font-size: 18px;
}


















#game-menu-screen-unauthenticated-options,
#game-menu-screen-authenticated-options {
  display: none;
}

.game-menu-screen-header {
  display: flex;
  margin: 50px;
}

#log-in-sign-up-space {
  margin-left: auto;
}

#log-in-button,
#sign-up-button,
#sign-out-button {
  border: 1px solid var(--color-grey-1);
  background-color: var(--color-grey-1);
  border-radius: 30px;

  font-size: var(--font-size);

  width: 100px;
  height: 35px;
}

#log-in-button:hover,
#sign-up-button:hover,
#sign-out-button:hover {
  background: var(--color-grey-2);
  border: 1px solid var(--color-grey-2);
}

.game-menu-screen-body {
  display: flex;
  margin: 50px;
}

#local-online-buttons-space {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: auto;
  margin-top: auto;
}

#play-online-button,
#play-local-button {
  font-size: var(--font-size);

  width: 135px;
  height: 35px;

  background: var(--color-grey-1);
  border: 1px solid var(--color-grey-1);
  border-radius: 30px;
}

#play-online-button:hover,
#play-local-button:hover {
  background: var(--color-grey-2);
  border: 1px solid var(--color-grey-2);
}

#simple-stats {
  border: 1px solid var(--color-grey-1);
  background-color: var(--color-grey-1);

  width: 300px;
  height: 100px;

  padding: 20px;
  
  font-size: var(--font-size);
  border-radius: 15px;
}