:root {
  --color-white: white;
  --color-black: black;
  --color-grey-1: lightgrey;
  --color-grey-2: grey;

  --font-primary: 'Rowdies';
  --font-secondary: Arial, Helvetica, sans-serif;
  --font-size-primary: 20px;
}

* {
  padding: 0;
  margin: 0;
}

body {
  font-family: var(--font-primary);
  font-size: var(--font-size-primary);

  background: url(/app/public/assets/images/menu_screen_sketch.jpg) no-repeat center center fixed; 
  background-size: cover;

  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

button {
  font-family: var(--font-primary);
  font-size: var(--font-size-primary);

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  border: solid 3px var(--color-black);
  border-radius: 30px;

  cursor: pointer;
}

button:hover:enabled {
  background-color: var(--color-grey-2);
}

input[type=email],
input[type=password],
input[type=text] {
  font-family: var(--font-secondary);
  font-size: var(--font-size-primary);

  color: var(--color-grey-2);

  width: 100%;
  height: 100%;

  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;

  border: solid 3px var(--color-black);
  border-radius: 30px;

  box-sizing: border-box;
}

iframe {
  border: none;
  pointer-events: none;
}

.divider {
  border: solid 2px var(--color-black);
  border-radius: 30px;
}

.icon {
  background: var(--color-grey-1);

  margin-left: auto;

  width: 30px;
  height: 30px;

  border: solid 3px var(--color-black);
  border-radius: 30px;

  cursor: pointer;
}

.icon:hover {
  background: var(--color-grey-2);
}

.text-center {
  text-align: center;
}

.popup-container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  position: relative;
  top: 150px;
  margin: auto;

  background: var(--color-white);

  width: 400px;

  padding: 20px;

  border: 3px solid var(--color-black);
  border-radius: 30px;
}

.popup-head-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.popup-head-container h1 {
  font-family: var(--font-primary);
  text-align: center;
}

.popup-head-container p {
  font-family: var(--font-secondary);
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-grey-1);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: var(--color-grey-2);
  border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-black);
}

#create-private-match,
#create-public-match,
#join-private-match,
#join-public-match {
  background: #e2d7f5;
}

#create-private-match:hover,
#create-public-match:hover,
#join-private-match:hover,
#join-public-match:hover {
  background: #554d63;
}

#create-account-button,
#private-room-code-button,
#public-room-code-button,
#reset-password-button,
#sign-in-button {
  background: #52b5fc;
}

#copy-code-button,
#leave-room-button,
#player-ready-cancel,
#player-ready {
  background: #b2c8d6;
}

#create-account-button:hover,
#private-room-code-button:hover,
#public-room-code-button:hover,
#reset-password-button:hover,
#sign-in-button:hover {
  background: #2e4f66;
}

#copy-code-button:hover,
#leave-room-button:hover {
  background: #6c96b0;
}

#log-in-button,
#sign-out-button,
#sign-up-button,
#user-profile-button {
  display: none;
  background: #b2c8d6;
}

#sign-in-help-1,
#sign-in-help-2,
#sign-up-help {
  background: #b2c8d6;
}

#log-in-button:hover,
#sign-out-button:hover,
#sign-up-button:hover,
#user-profile-button:hover {
  background: #5785a2;
}

#sign-in-help-1:hover,
#sign-in-help-2:hover,
#sign-up-help:hover {
  background: #5785a2;
}

#login-screen,
#reset-password-screen,
#sign-up-screen {
  background: #88b4cf;
  color: #527d97;
}

#user-profile-screen {
  background: #88b4cf;
  color: #354e5e;
}
#join-private-match-screen,
#join-public-match-screen {
  background: #86bbd8;
  color: #2b6686;

}

#statistic-screen{
  background: #f7b94a;
}

#character-screen,
#game-room-screen,
#youtube-screen {
  background: #fb6767;
}

#close-log-in,
#close-reset-password,
#close-sign-up,
#close-user-profile {
  background: #88b4cf;
}

#close-join-private-match,
#close-join-public-match {
  background: #86bbd8;
}

#close-log-in:hover,
#close-reset-password:hover,
#close-sign-up:hover,
#close-user-profile:hover {
  background: #18262e;
}

#close-join-private-match:hover,
#close-join-public-match:hover {
  background: #112935;
}

#join-public-match-form-container-1 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#join-public-match-form-container-1 > * {
  flex-grow: 1;
}

#join-public-match-form-container-2 {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-height: 200px;

  padding-right: 20px;
  
  box-sizing: border-box;

  overflow-y: scroll;
}

.join-public-match-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  align-items: center;
}

.join-public-match-wrapper > * {
  flex-grow: 1;
}

#join-private-match-form-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#join-private-match-form-container > * {
  flex-grow: 1;
}

#log-in-form-container-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#log-in-form-container-2 {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#log-in-form-container-2 > * {
  flex-grow: 1;
}

#sign-up-form-container-1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#sign-up-form-container-2 {
  display: flex;
}

#sign-up-form-container-2 > * {
  flex-grow: 1;
}

#reset-password-form-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#main-menu-container {

  background-color: #C3B1E1;
  border: solid 3px var(--color-black);
  border-radius: 30px;

  position: relative;
  top: 150px;
  margin: auto;

  display: flex;
  flex-direction: column;
  gap: 20px;

  width: 400px;
  padding: 20px;
}

#main-menu-container h1 {
  font-size: 72px;
  text-align: center;
}

#main-menu-auth-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#main-menu-auth-container > * {
  flex-grow: 1;
}

#main-menu-play-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.room-code {
  font-size: 12px;
  font-family: var(--font-secondary);
  color: var(--color-grey-2);
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  border: solid 3px var(--color-black);
  border-radius: 30px;
}

#copy-code-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#copy-code-container > * {
  flex-grow: 1;
}

#room-players-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.room-player,
.room-player-highlight  {
  font-family: var(--font-primary);
  font-size: var(--font-size-primary);

  text-align: center;

  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;

  border: solid 3px var(--color-black);
  border-radius: 30px;
}

.room-player-highlight {
  background-color: #FFFF8F;
}

.room-player-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.room-player-container > * {
  flex-grow: 1;
}

#youtube-video-player-container {
  display: flex;
}

#youtube-video-player-container > * {
  flex-grow: 1;
}

#youtube-player-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#youtube-search-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#youtube-videos-container {
  display: none;

  flex-direction: column;
  gap: 20px;

  max-height: 150px;
  
  overflow-y: scroll;

  padding-right: 20px;
  
  box-sizing: border-box;
}

#youtube-videos-container > * {
  flex-grow: 1;
}

#game-lobby-outer-layout {
  display: flex;
  flex-direction: row;
  gap: 20px;

  justify-content: center;
  align-items: flex-start;
}

#game-lobby-inner-layout {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#character-select-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.character-select {
  display: flex;
  flex-direction: column;
  border-radius: 30px;

  cursor: pointer;
}

.character-select:hover {
  filter: brightness(60%);
}

.character-select-img {
  border-radius: 30px;
}

.character-select-choice {
  pointer-events: none;
  display: flex;
  flex-direction: column;
  border-radius: 30px;
}

#character-select-buttons-container,
#game-lobby-buttons-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

#character-select-buttons-container > *,
#game-lobby-buttons-container > * {
  flex-grow: 1;
}